.progress-bar {
    -webkit-transition: width 1500ms ease !important;
    transition: width 1500ms ease !important;
}

#indcount {
    font-weight: 400 !important;
    font-size: 1.5em;
    margin-top: 2em;
}

.progress {
    border-radius: 10px !important;
}

.plabel {
    text-align: center;
}

.display-4  {
    color: #196DB6;
    font-weight: 500 !important;
    font-size: 3.25rem !important;
}

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 10px;
}

.search_input {
    color: #444444;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_input {
    padding: 0 10px;
    width: 450px;
    caret-color: red;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_icon {
    background: #fafafa;
    color: #e74c3c;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #aeaeae;
    text-decoration: none;
}

.card {
    border: 0 !important;
}

.btn-sm {
    margin-bottom: 0.5rem;
    max-width: 5.5rem;
    border-radius: 12px !important;
    font-weight: 600 !important;
}


#pccard {
    border: none;
    height: 7px;
    background-color: #9F7CEC;
}

.bg-pc {
    background-color: #9F7CEC !important;
    color: #ffffff !important;
}

#p1card {
    border: none;
    height: 7px;
    background-color: #F25F5C;
}

.bg-p1 {
    background-color: #F25F5C !important;
    color: #ffffff !important;
}

#p2card {
    border: none;
    height: 7px;
    background-color: #FDA372;
}

.bg-p2 {
    background-color: #FDA372 !important;
    color: #ffffff !important;
}

#p3card {
    border: none;
    height: 7px;
    background-color: #F8CE6A;
}

.bg-p3 {
    background-color: #F8CE6A !important;
    color: #ffffff !important;
}

#acard {
    border: none;
    height: 7px;
    background-color: #4ECBB5;
}

.bg-a {
    background-color: #4ECBB5 !important;
    color: #ffffff !important;
}
